{% extends 'blog/base.html' %}
{% block content %}
                    {% for animal in Animals %}
                        <div class="billet">
                            
                                <span class="name"><a href="{% url 'animal_detail' id_animal=animal.id_animal %}">{{ animal.id_animal }}</a></span>
                                <span class="etat">{{ animal.etat }} </span>
                                <span class="lieu">{{ animal.lieu }} </span>
                            
                        </div>
                    {% endfor %}
                    
{% endblock %}         

